<!DOCTYPE html>
<html>
<head th:substituteby="header :: copy">
<title>Active walk offers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>Active Walk Offers</h1>
	<div th:if="${#lists.isEmpty(activeWalks)}" class="error">
		No active walk offers found
		<div style="height: 2cm">&nbsp;</div>
	</div>

	<div th:unless="${#lists.isEmpty(activeWalks)}">
		<p>All active walk offers:</p>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Dog</th>
					<th>Owner</th>
					<th>Distance</th>
					<th>Duration</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="walk : ${activeWalks}">
					<form action="#" th:action="@{/walks/accept}" th:object="${walk}"
						method="POST">
					<td th:text="${walk.dogName}"></td>
					<td th:text="${walk.ownerName}"></td>
					<td th:text="${walk.distance}"></td>
					<td th:text="${walk.duration}"></td>
					<td th:text="${walk.price}"></td>
					<td><input type="hidden" th:value="${walk.id}"
						th:attr="name='id'" />
						<button type="submit">Accept</button></td>
					</form>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:substituteby="footer :: copy"></div>
</body>
</html>