<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>User microservice na najjace.</h1>
	<div id="add_user">
		<form action="#" th:action="@{/users}" th:object="${user}"
			method="post">
			<p>
				Username: <input type="text" th:field="*{username}" />
			</p>
			<p>
				FirstName: <input type="text" th:field="*{firstName}" />
			</p>
			<p>
				LastName: <input type="text" th:field="*{lastName}" />
			</p>
			<p>
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</p>
		</form>


	</div>
	<div th:if="${not #lists.isEmpty(activeusers)}">
		<div th:each="user: ${activeusers}">
			<p th:text="${user.username}"></p>
			<p th:text="${user.firstName}"></p>
			
		</div>
	</div>
	<div th:if="${#lists.isEmpty(activeusers)}">
		<p>Prazna lista</p>
	</div>
</body>
</html>