<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Registrations</h1>

	<div th:if="${registrations}">
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Password</th>
					<th>Email</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="registration : ${registrations}">
					<td th:text="|${registration.username}|"></td>
					<td th:text="${registration.password}">0</td>
					<td th:text="${registration.email}">Email</td>
				</tr> 
			</tbody>
		</table>
	</div>
<div th:replace="footer :: copy"></div>
</body>
</html>